body{
	margin: 0;
	font-family: 'Montserrat'}
h1{
	font-size: 40px;
}
h2{
	font-size: 32px;
	margin-bottom: 20px;
}
h3{
	font-size: 24px;
}
p{
	font-size: 18px;
}
button{
	font-size: 16px;
	font-weight: 400;
	border-radius: 6px;
	padding: 0 16px;
	height: 40px;
}
hr{
	background-color: #FAAD01;
	width: 10%;
	height: 2px;
	border-radius: 20px;
	margin-bottom: 5%;
}
.clearfix{
	clear: both;
}

/* custom tags   */
div.fixed-header{
	position: sticky;
	top: 0;
	z-index: 999;
}
div.header{
	background-color: #FAAD01;
	color: #0A0A0A;
}
 div.header img{
 	height: 20px;
 	float: left;
 	filter:brightness(0) saturate(100%)
 }
 div.header p{
 	float: left;
 }
div.navbar{
	background: #0A0A0A;
 	color: #FFFFFF;

}
nav a img{
 	filter: none;
 	height: 20px;
 }
nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
}
nav ul li a.home:hover{
	cursor: default;
}
nav ul li a:hover{
	color: #FFFFFF;
}
nav{
	padding: 20px;
}
button.ticket{
	background: transparent;
	border: 1px solid #FAAD01;
}
button.ticket a{
	color:#606060;
}
button.ticket:hover{
	background-color: #FFFFFF;
}


 /* header row */

div.hero{
	background: url("images/backgrounds/hero.png");
	height: 600px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
div.hero-heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	margin-top: 180px;
}
div.hero-heading h1 span{
	color: #FAAD01;
	font-weight: bold;
}
div.hero-heading p{
	width: 70%;
}
button.event-button{
	color: #FFFFFF;
	background: transparent;
	border: 1px solid #FAAD01;
}
button.event-button:hover{
	background: #FFFFFF;
	color: #0A0A0A;
}
div.icon-play{
	border-radius: 50%;
	border: 1px solid #FAAD01;
	padding: 10px;
	color: #FFFFFF;
}

/*     hero row  */
div.about{
	display: flex;
	align-items: center;
	margin-bottom: 210px;
}
div.about h2{
	font-weight: 800;
	margin-bottom: 32px;
	margin-top: 20px;
}
div.about{
	background-color: #0A0A0A;
	color: #FFFFFF;
}
/*        about row     */
div.speakers{
	margin-top: 10%;
}
div.speakers p.under-heading{
	width: 60%;
	margin: auto;
}
div.lecturer-1,
div.lecturer-2,
div.lecturer-3,
div.lecturer-4,
div.lecturer-5,
div.lecturer-6{
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
div.lecturers{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	width: 90%;
}
 div.lecturer-1{
	background: url("images/lecturers/Biljana-Vidojevikj.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
	margin-bottom: 30px;
}
 div.lecturer-2{
	background: url("images/lecturers/Димитар 2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
	margin-bottom: 30px;
}
 div.lecturer-3{
	background: url("images/lecturers/Filip DImitrov.jpg"); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
	margin-bottom: 30px;
}
 div.lecturer-4{
	background: url("images/lecturers/alexander-stoicoff-adivius.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
}
 div.lecturer-5{
	background: url("images/lecturers/Miroslav.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
}
 div.lecturer-6{
	background: url("images/lecturers/MAJA.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
}
div.lecturer-info{
	background-color: rgba(0,0,0,0.7);
	color: #FFFFFF;
	width: 100%;
	text-align: center;
}
div.lecturer-info i{
	font-size: 20px;
	color:#FAAD01;
	display: none;
}
div.lecturer-info i:not(:last-child){
	margin-right: 5px;
}
div.lecturer:hover div.lecturer-info i{
	display: inline-block;
}


/*    lecturers row   */
div.schedule{
	margin-top: 210px;
}
div.schedule p.under-heading{
	width: 60%;
	margin: auto;
	margin-top: -50px;
	margin-bottom: 80px;
}
div.media-content{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #0A0A0A;
}
div.media-content:hover{
	cursor: pointer;
	box-shadow: 10px 20px 30px rgba(0,0,0,0.1)
}
div.modal-header-1{
	border-bottom: 1px solid #0A0A0A;
}
div.modal-header-1 img {
	height: 100px;
	border-radius: 50%;
	margin-top: 30px;
}
div.modal-header-1 p{
	font-size: 25px;
	margin: 10px 0;
	font-weight: bold;
}
div.modal-header-1 p.lower-p{
	font-size: 16px;
}
div.modal-body-1 ul li{
	font-size: 14px;
}


/*      media & modal row    */
div.events{
	color: #FFFFFF;
	margin-top: 210px;
}
div.events h3{
	margin-top: 10%;
	margin-left: 70px;
	margin-bottom:30px;
}
div.events p{
	width: 70%;
	margin: auto;
}
div.map{
	background-image: url("images/backgrounds/map.png");
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
div.venue{
	background-image: url("images/backgrounds/venue.png");
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
div.event-1{
	background-image: url("images/backgrounds/event-1.jpg");
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
div.event-2{
	background-image: url("images/backgrounds/event-2.jpg");
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
div.event-3{
	background-image: url("images/backgrounds/event-3.jpg");
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
div.event-4{
	background-image: url("images/backgrounds/event-4.jpg");
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*           Events row          */

div.gallery{
	margin-top: 210px;
	position: relative;
}
span.next-icon i,
span.prev-icon i{
	position: absolute;
	top: 100%;
	z-index: 1;
	color: #FAAD01;
}

/*             gallery row        */

div.sponsors{
	margin-top: 210px;
}
div.sponsors div.sponsors-list{
	background-image: url("images/logos/sponsors.png");
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*           sponsors row       */

div.faq{
	margin-top: 210px;
}
div.faq a{
	color: #0A0A0A;
}
div.faq div.card:hover{
	box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	-webkit-box-shadow:0 0 20px #ccc;
}

/*           faq row          */

div.newsletter{
	background-image: url("images/backgrounds/newsletter.png");
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-top: 210px;
}
div.newsletter-header{
	margin-top: 80px;
}
div.newsletter-form{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*     Newsletter row      */

div.tickets{
	margin-top: 210px;
}
div.tickets p{
	width: 75%;
	margin: auto;
}
div.card{
	border: none;
}
div.card:hover{
	box-shadow: 10px 10px 60px #9B9B9B;
}
div.card-body-ticket{
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.card-body-ticket ul{
	border-bottom: 1px solid #0A0A0A;
}
div.card-body-ticket ul li{
	font-size: 20px;
}
div.card div.card-body-ticket button.ticket-button{
	margin: 20px;
	padding: 25px 60px;
	display :flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
}
div.card div.card-body-ticekt button.ticket-button:hover{
	box-shadow: 5px 5px 50px #9B9B9B;
}
div.modal-content{
	height: 500px;
	width: 90%;
	margin: auto;
	background: #FFFFFF;
}
div.modal-body h4{
	margin: 40px 0;
	margin-left: 20px;
}
div.modal-body label{
	border-bottom: 1px solid #0A0A0A;
	width: 90%;
	margin: auto;
	margin-left: 20px;
	font-size: 20px;
	margin-bottom: 30px;
}
button.ticket-button-modal{
	float: right;
}

/*       Tickets row -----------*/

div.contact{
	margin-top: 210px;
}
div.contact img{
	margin-bottom: 20px;
}
div.contact h3{
	margin-bottom: 30px;
}
div.contact-cards-main{
	border-right: 1px solid #0A0A0A;
	border-left: 1px solid #0A0A0A;
}

label{
	border-bottom: 1px solid #0A0A0A;
	width: 95%;
	margin: auto;
	margin-left: 20px;
	font-size: 20px;
	margin-bottom: 30px;
}
button.button-contact{
	margin-left: 20px;
	padding: 30px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.modal-body-2{
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.modal-body-2 h4{
	margin-bottom: 30px;
}

/*        Contact row      */

div.footer-up{
	margin-top: 210px;
	background: #0A0A0A;
	height: 400px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
div.footer-up img{
	margin: 40px 0;
}
div.footer-up ul{
	list-style: none;
}
div.footer-up ul li{
	margin-bottom: 10px;
}
div.footer-up ul li.selected{
	border-bottom: 1px solid #FFFFFF;
	width: 100%;
}
div.footer-up ul li.selected:hover{
	cursor: pointer;
}
div.footer-up img.scroll-up{
	position: absolute;
	top: -22%;
	left: 50%;
}

/*      footer-up row     */

div.footer-down{
	background: #FAAD01;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@media (max-width: 424px){
	div.fixed-header div.header{
		display: none;
	}
	div.hero{
	background: url("images/backgrounds/newsletter.png");
	height: 600px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
div.lecturers{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
}
div.lecturer-1,
div.lecturer-2,
div.lecturer-3,
div.lecturer-4,
div.lecturer-5,
div.lecturer-6{
	width: 100%;
}



}